#main{
height:400px;
width:500 px;
}
#background{
height: 768px;
width: 1024px;
position: absolute; 
z-index:-1;
}
#tip_panel{
height: 300px;
width: 400px;
top: 200px;
left: 400px;
position:relative;
z-index:1;
box-shadow: 10px 10px 5px #888888;
}
#tip_link{
font: Arial;
font-size: 15px;
font-style: underline;
color: blue;
position: relative;
left: 425px;
top: -50px;
z-index: 2;
}

#gif{
width: 250px;
height: 150px;
position: relative;
left: 480px;
top: -40px;
z-index:3;
}
#tiptext{
font: Arial;
font-size: 10px;
font-style: underline;
position: relative;
left: 430px;
top: -50px;
z-index:3;
}
#Previous_tip{
position: relative;
left: 660px;
top: -20px;
font: Arial;
font-size: 12px;
color: blue;
z-index:3;
}
#Next_tip{
position: relative;
left: 750px;
top: -48px;
font: Arial;
font-size: 12px;
color: blue;
z-index:3;
}